{% extends "MainBundle:Layout:layout.html.twig" %}

{% block roleUtilisateur %}
    {% if app.user.promotion %}
        {{ app.user.promotion.libelle }}
    {% else %}
        Candidat libre
    {% endif %}
{% endblock %}

{% block contenu %}
    <h4>Sélectionnez le test que vous souhaitez passer :</h4>
    <div class="list-group" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if toTests %}
                {% for test in toTests %}
                    <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal">{{ test.libelle }}</a>
                {% endfor %}
            {% else %}
                Aucun test à passer.
                Merci de vous déconnecter.
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>

    {# Modal #}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
{% endblock %}