/**
 * Présentation générale
 */
body {
    padding: 0;
}
#body {
    margin: 0 auto;
    border: black thin solid;
    box-shadow: grey 0px 0px 5px;
    padding: 10px;
}

/**
 * Formulaire de login
 */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
 * Formulaire de test
 */
.colSupprimerTest,
.colLibelleTest,
.colCreateurTest,
.colDureeTest,
.colSeuilTest {
    text-align: center;
}

/**
 * Bannière
 */
#bannierePerso {
    margin-top: 10px;
}
#deconnexion {
    float: right;
}

/**
 * Liste des thèmes
 */
#listeThemes {
    margin-top: 20px;
}
.colSupprimerTheme {
    text-align: center;
}
.colSupprimerTheme a {
    color: red;
}
#btnAjouterTheme {
    float: right;
}
#btnValiderModifAjoutTheme {
    margin-right: 10px;
}

/**
 * Liste des tests
 */
#listeTests {
    margin-top: 20px;
}
.colSupprimerTest {
    text-align: center;
}
.colSupprimerTest a {
    color: red;
}
#btnAjouterTest {
    float: right;
}
#btnValiderModifAjoutTest {
    margin-right: 10px;
}

/**
 * Liste des questions
 */
#listeQuestions {
    margin-top: 20px;
}
.colSupprimerQuestion {
    text-align: center;
}
.colSupprimerQuestion a {
    color: red;
}
#btnAjouterQuestion {
    float: right;
}
#btnAjouterReponseProposee {
    float: right;
}
#btnValiderModifAjoutQuestion {
    margin-right: 10px;
}