{% extends "MainBundle:Layout:layout.html.twig" %}

{% block menu %}
    <ul class="nav nav-tabs nav-justified" id="navBarFormateur">
        <li><a href="{{ path('accueil-formateur') }}">Accueil</a></li>
        <li><a href="#">Question</a></li>
        <li><a href="#">Theme</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Inscription</a></li>
        <li><a href="{{ path('accueil-stagiaire') }}">Accueil Stagiaire</a></li>
    </ul>
{% endblock %}