{% extends "MainBundle:Layout:layout.html.twig" %}

{% block roleUtilisateur %}Formateur{% endblock %}

{% block menu %}
    <ul class="nav nav-tabs nav-justified" id="navBarFormateur">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Question</a></li>
        <li><a href="#">Theme</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Inscription</a></li>
    </ul>
{% endblock %}