{% extends "MainBundle:Layout:layoutModal.html.twig" %}

{% block modal_title %}
    Confirmation de la suppresion du thème
{% endblock %}

{% block modal_body %}
    <p>
        Vous êtes sur le point de supprimer le theme <em>{{ oTheme.libelle }}</em>.
    </p>
    <p>
        Êtes-vous sûr ?
    </p>
{% endblock %}

{% block modal_footer %}
    <input type="hidden" value="{{ oTheme.id }}" id="idThemeSuppression"/>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
    <button type="button" class="btn btn-success" id="btnValidationSuppressionTheme">Oui</button>
{% endblock %}